<link rel="stylesheet" href="/style.css">
<div class="my-3">
    <div class="container">


        <form method="POST" action="https://btcpal.online/apps/GSWCHJKG7XH4oJeMLaFAZ8LMyrC7XtYnT4SYRqXgivxr/pos">

            <h2>1 Wun hunnid</h2>
            <input readonly
                   id="orderId"
                   value="{{orderId}}"
                   class="form-control"
                   hidden
                   name="orderId"
            />
            <input type="hidden" name="orderId" value="{{orderId}}"/>
            <input type="hidden" name="notificationUrl" value="https://btcpal.online:5555/notifications/{{orderId}}"/>
            <input type="hidden" name="redirectUrl" value="http://localhost:3000/order/{{orderId}}"/>
            <button type="submit" name="choiceKey" value="one" class="btn btn-outline-warning">
                Buy now
                <img src="/btc.svg" alt="btc" width="30" height="30"/>
            </button>
        </form>
    </div>

</div>
